PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb+srv://daniel:10027563kK%23@chatapps.r555omw.mongodb.net/mern-chat?appName=ChatApps
JWT_SECRET=tHeTUhhKmFS4xaYEhsJYuYk67MXXDo7saYRjgDQbioFMRRM8BmYJRelVcSJJGRm2kbaol
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=danielguedegbe10027@gmail.com
EMAIL_PASS=bbvbublzzuesbgqj
EMAIL_FROM=MERN Chat <danielguedegbe10027@gmail.com>